.course-head {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/assets/images/courses/strategies.webp");
  z-index: 1;
  height: 350px;
  position: relative;
}

.header-content {
  color: #f0f0f0;
  position: absolute;
}

.desc {
  color: #f0f0f0 !important;
}

#subtitles-collapse-text {
  font-size: 0.9rem;
}

.related-coursed-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(48%, 1fr));
  gap: 1%;
}
