html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.no-underline,
.no-underline:hover,
.no-underline:active,
.no-underline:visited,
.no-underline:link {
  text-decoration: none !important;
}

.desc {
  margin-top: 1.25rem;
  max-width: 42rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.custom-highlight-0:focus {
  outline: 0px none !important;
  border: none !important;
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-none {
  background-color: unset !important;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.muted {
  color: #808080;
}
small {
  font-size: 0.75em !important;
}

.list-style-0 {
  list-style-type: none;
}

.text-with-icon {
  display: flex;
  align-items: center;
  padding: 0;
}

p.text-with-icon {
  font-size: 0.9rem;
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
